<h1>Nuevo Usuario</h1>

<%= form_with model: @user do |f| %>
  <div>
    <%= f.label :name, "Nombre" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email, "Correo" %>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :comments, "Comentarios" %>
    <%= f.text_field :comments %>
  </div>

  <div>
    <%= f.submit "Agregar" %>
  </div>

<% end %>